@media (min-width: 0px) {
    .servicios {
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        justify-content: space-between;
        width: 100%;
        background-color: rgba(248, 248, 255, .5);
      }
      .servicios a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        text-decoration: none;
        color: white;
        height: 100%;
        padding-left: 5px;
        font-family: 'Ubuntu';
        font-weight: bold;
      }
      .servicios a:hover{
        background-color: #2F88FF;
        cursor: pointer;
      }
      .diseño  {
        display: flex;
        flex-flow: column nowrap;
        color: white;
        font-family: 'Ubuntu';
        text-align: justify;
        padding: 15px 30px;
      }
      .diseño h2 {
        font-size: xx-large;
        color: #2F88FF;
        margin: auto;
        margin-bottom: 30px;
        padding-top: 10px;
      }
    
      .diseño .card-title{
        color: #2F88FF;
      }
      .diseño figure{
        display: none;
      }
}

@media (min-width: 900px) {
  .diseño span{
    font-size:xx-large;
    opacity: 0;
    transform: translateX(-50px);
    animation-name: aparecer;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    margin-bottom: 40px;
  }
  @keyframes aparecer {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .diseño{
    display: flex;
    flex-flow: row wrap;
  }
  /* .diseño article {
    display: flex;
    flex-flow: row nowrap;
    height: 50vh;
    padding: 20px;
  } */
  .diseño figure{
    display: flex !important;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 80%;
  }
  .diseño figure img{
    max-width: 50vw;
    height: auto;
    justify-content: center;
    object-fit: contain;
  }
  .tarjetas {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 20px;
    gap: 20px;
  }
  .tarjetas .card{
    width: 45%;
    height: 100%;
    max-width: 300px;
  }
}